 @import url('https://fonts.googleapis.com/css?family=Archivo+Black');
 .App {
  font-family: 'Archivo Black', sans-serif;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
